html
{
    font-family: 'Nunito', sans-serif;

}

::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb
{
    border-radius: 3px;
    background-color: #303030;
}

.home svg
{
    height: 40px;
    width: 40px;
    fill: white;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    cursor: pointer;
    margin-right: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.home svg:hover
  {
      fill:#02b15b;
  }

  body
  {
      background: #191919;
      margin: 0px;
      color: white;
  }
  a
  {
      text-decoration: none;
      color: #2288f5;
      font-weight: 600;
      font-size: 17px;
  }

h1
{
    font-weight: 500;
    text-align: center;
    color: white;
}
.main
{
    display:  flex;
    justify-content: space-around;
}
.main .choose
{
    margin-top: 300px;
    width: 300px;
    height: 120px;
    background-color: #303030;
    box-shadow: 0px 0px 35px 5px black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    margin-left: 20px;
    margin-right: 20px;
}

.main .choose .email
{
    fill: #027cff;
}


.main .choose .icon
{
    width: 50px;
    height: 50px;
    transition-duration: .2s;
    transition-property: filter;
    transition-timing-function: ease-out;
}

.main .choose .icon:hover
{
    filter:brightness(115%) contrast(120%);
}


.main .choose .line
{
    
    border-left: 1px solid white;
    opacity: 40%;
    height: 50px;
    
}
.eula
{
    margin-top: 50px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

@media(max-width:860px)
{
    .main .choose
    {
        margin-top: 200px;
    }
}



@media (max-width:590px)
{
    h1
    {
        margin-top: 60px;
    }
}



@media(max-width:380px)
{
    .main .choose
    {
        margin-top: 100px;
    }
}